<h1>Planets</h1>

<div class='planet-list'>
  <% @ordered_planets.each do |planet| %>
    <div id=<%= "planet-#{planet.id}" %> class="planet-item">
      <h4>Position: <%= planet.position %></h4>
      <img src=<%= planet.image %>>
      <p>Name: <%= link_to planet.name, planet_path(planet) %></p>
      <p>Info: <%= planet.info %></p>
      <p><%= "Has Rings!" if planet.has_rings %></p>
    </div>
  <% end %>
</div>
